.profile__button-add {
  cursor: pointer;
  margin: 33px 0 0;
  padding: 0;
  display: flex;
  min-height: 50px;
  width: 100%;
  border: 2px solid #fff;
  background-color: #000;
  background: url(../../../images/+16.svg) center/ 16px 16px no-repeat;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .profile__button-add {
    margin: 0 -2px 0 0;
    max-width: 150px;
    align-self: center;
    background: url(../../../images/+22.svg) center/ 22px 22px no-repeat;
  }
}