.profile__avatar {
  max-width: 120px;
  min-height: 120px;
  object-fit: cover;
  margin-left: 0;
}



/* @media screen and (min-width: 1024px) {
  .profile__avatar {
    margin-right: 30px;
    margin-left: 3px;
    margin-bottom: 0;
  }
} */